.burger{
    display:none;
    position: fixed;
    width: 500px;
    max-width: 100%;
    height:100%;
    z-index: 65;
    top: 0;

    &.burger-open{
        @media(max-width:$breakpoint1200){
            display:block;
        }
    }

    .burger-open-background{
        position: fixed;
        width: 100%;
        height: calc(100vh + 113px);
        background: #1f1f1f;
        z-index: 15;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        &.burger-open-background-open{
            opacity:0.2;
        }
    }

    .burger-wrapper{
        height:100%;
        width:100%;
        overflow-x: auto;
        background: #fff;
        transition: 0.3s;
        transform: translateX(-100%);
        z-index: 25;
        position: relative;
        &.burger-wrapper-open{
            transform: translateX(0px);
        }
    }
}

.hr-classic-burger{
    background: #f0f0f0;
    height: 1px;
    width: calc(100% - 30px);
    margin: auto;
}

.burger-head{
    min-height:75px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media(min-width:$breakpoint1200){
        display:none;
    }
    &.burger-close-catalog{
        cursor: pointer;
    }
    .burger-title-or-close{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:75px;
        padding: 20px 15px;
        .burger-close-button{
            cursor: pointer;
            .burger-close-icon{
                font-size:20px;
                &::before{
                    color:$mainColor;
                }
            }
        }
        .burger-close-catalog-link{
            cursor: pointer;
            .burger-close-catalog-icon{
                font-size:20px;
                &::before{
                    color:$mainColor;
                }
            }
        }
        .burger-title{
            font-size:20px;
            font-weight: 500;
            color:$mainColor;
            margin: auto;
        }
        .burger-logo{
            height:54px;
            flex-shrink: 0;
        }
    }
    &.burger-head-tab{
        background:$greenColor;
        .burger-title{
            color:#fff;
        }
        .burger-close-catalog-link{
            .burger-close-catalog-icon{
                &::before{
                    color:#fff;
                }
            }
        }
    }
    .burger-interactive{
        display:flex;
        justify-content: space-between;
        width:100%;
        align-items: flex-start;
        padding:10px 15px;
        .burger-interactive-item{
            display: flex;
            flex-direction: column;
            width: auto;
            align-items: center;
            text-align: center;
            justify-content: flex-start;
            gap: 5px;
            cursor: pointer;
            .interactive-icon{
                font-size:29px;
                &:before{
                    color:$mainColor;
                    transition: all 0.3s;
                }
            }
            .burger-login{
                position: relative;
            }
            .burger-cart{
                position: relative;
                &.cart-active{
                    .item-number{
                        display:block;
                    }
                    .interactive-icon{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
                .item-number{
                    position: absolute;
                    font-size: 8px;
                    color: #fff;
                    background: $mainColor;
                    padding: 3px 6px;
                    border-radius: 60px;
                    display: none;
                    top: 0;
                    right: -6px;
                }
            }
            .burger-favorites{
                position: relative;
                &.favorites-active{
                    .item-number{
                        display:block;
                    }
                    .interactive-icon{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
                .item-number{
                    position: absolute;
                    font-size: 8px;
                    color: #fff;
                    background: $mainColor;
                    padding: 3px 6px;
                    border-radius: 60px;
                    display: none;
                    top: 0;
                    right: -6px;
                }
            }
            .burger-compare{
                position: relative;
                &.compare-active{
                    .item-number{
                        display:block;
                    }
                    .interactive-icon{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
                .item-number{
                    position: absolute;
                    font-size: 8px;
                    color: #fff;
                    background: $mainColor;
                    padding: 3px 6px;
                    border-radius: 60px;
                    display: none;
                    top: 0;
                    right: -6px;
                }
            }
            .burger-interactive-title{
                font-size:12px;
                color:$mainColor;
                transition:all 0.3s;
            }
            &:hover{
                .interactive-icon{
                    &:before{
                        color:$greenColor;
                    }
                }
                .burger-interactive-title{
                    color:$greenColor;
                }
            }
        }
    }
}

.burger-body{
    .burger-catalog-open{
        cursor: pointer;
        padding: 13px 15px 13px 15px;
        display: flex;
        align-items: center;
        color: #3e3e3e;
        font-weight: 500;
        font-size: 17px;
        position: relative;
        transition: .3s all;
        word-wrap: normal;
        line-height: 1.3;
        margin: 10px 0px;
        .burger-catalog-open-icon{
            margin-right: 20px;
            font-size: 22px;
            &:before{
                transition: 0.3s;
                color:#3e3e3e;
            }
        }
        &:hover{
            background: rgba(226,226,226,.44);
            color: $greenColor;
            .burger-catalog-open-icon{
               &:before{
                color:$greenColor;
               }
            }
        }
    }
    .burger-catalog-menu{
        padding:10px 0px;
        .burger-catalog-menu-item{
            .burger-catalog-menu-link{
                padding: 13px 15px 13px 15px;
                display: flex;
                align-items: center;
                color: #3e3e3e;
                font-weight: 500;
                font-size: 17px;
                position: relative;
                transition: .3s all;
                word-wrap: normal;
                line-height: 1.3;
                &:hover{
                    background: rgba(226,226,226,.44);
                    color: $greenColor;
                }
                &.submenu-item{
                    padding: 13px 50px 13px 15px;
                    &::before{
                        font-family: eustoreicons;
                        font-size: 12px;
                        content: "\e901";
                        color: #3E3E3E;
                        right: 15px;
                        position: absolute;
                        transition: 0.3s all;
                    }
                }
            }
            .burger-catalog-submenu{
                display:none;
            }
        }
    }
}

.burger-footer{
    padding:10px 0px;
    .burger-language-toggle{
        display:flex;
        gap:15px;
    }
}
