//fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

//vars

$mainColor: #161616;
$greenColor: #00BA67;

$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint400: 399.98 + px;

//page settings

html,
body{
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:17px;
    line-height:1;
    color:$mainColor;
    min-height: 100vh;
    &.body-hidden{
        overflow: hidden;
    }
}

body{
    background: #F9F9F9;
}

a,button{
    transition: background 0.3s, color 0.3s;
}

//container settings

.container{
    max-width:1808px;
    width:100%;
    padding:0px 15px;
    margin:0px auto;
}

//other

.wrapper{
    min-height:100%;
    display:flex;
    flex-direction: column;
}

.main{
    flex:1 1 auto;
}

///search input header/footer

.search-body{
    display:flex;
    .search-body-wrapper{
        position:relative;
        width: 100%;
        .search-body-icon{
            position: absolute;
            font-size: 24px;
            top: 15px;
            left: 15px;
        }
        .search-body-input{
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            max-width: 536px;
            width: 100%;
            height:52px;
            display:flex;
            align-items: center;
            padding-left:50px;
            font-size: 20px;
            color:#fff;
            transition: 0.3s;
            &::placeholder{
                color:#fff;
                opacity:0.7;
            }
            &:focus{
                border: 1px solid $greenColor;
                &::placeholder{
                    opacity:0;
                }
            }
        }
    }
    .search-body-button{
        background:#06D679;
        height:52px;
        font-size: 20px;
        color:#fff;
        padding:0px 45px;
        border-radius: 0px 5px 5px 0px;
        position:relative;
        right:5px;
        &:hover{
            background: $greenColor;
        }
    }
}

hr{
    background: $mainColor;
    height:1px;
    width:100%;
}

.hr-classic{
    background: linear-gradient(to right, #FFF, #939393, #FFF);
    height: 1px;
    width:100%;
}

.button{
    background: linear-gradient(96.83deg, #01BD69 1.48%, #07DE7E 73.66%);
    color:#fff;
    font-weight: 600;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 20px;
    text-align: center;
    &:hover{
        box-shadow: 0px 10px 50px rgba(8, 223, 127, 0.65);
    }
    &:disabled,
    &[disabled]{
        background: #E7E7E7;
        color: #939393;
        cursor: default;
        &:hover{
            box-shadow: none;
        }
    }
    @media(max-width:$breakpoint768){
        font-size:18px;
    }
    @media(max-width:$breakpoint400){
        font-size:16px;
    }
}

.grey-button{
    background: #E7E7E7;
    color:$mainColor;
    font-weight: 600;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 20px;
    text-align: center;
    &:hover{
        box-shadow: 0px 10px 50px rgba(211, 211, 211, 0.65);
    }
    @media(max-width:$breakpoint768){
        font-size:18px;
    }
    @media(max-width:$breakpoint400){
        font-size:16px;
    }
}

//modals

.modal{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:200;
    display:none;
    .modal-body-background{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #1f1f1f;
        z-index: 30;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s;
        &.active{
            opacity:0.2;
        }
    }
    &.active{
        display:block;
    }
    .modal-content{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden auto;
        padding: 40px 15px;
        z-index: 44;
        position: relative;
        .modal-wrapper{
            max-width: 1100px;
            width: 100%;
            height: fit-content;
            z-index: 999;
            position: relative;
            margin: auto;
            transform: translateY(25px);
            opacity: 0;
            transition: all 0.3s;
            &.active{
                opacity:1;
                transform: translateY(0px);
            }

            .modal-header{
                border-radius: 15px 15px 0px 0px;
                background: linear-gradient(90.26deg, #02C26C 4.2%, #08DF7F 87.06%);
                min-height:80px;
                width:100%;
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding:0px 50px;
                @media(max-width:$breakpoint992){
                    padding:0px 15px;
                }
                @media(max-width:$breakpoint768){
                    min-height:60px;
                }
                .modal-title-body{
                    display:flex;
                    gap:10px;
                    align-items: center;
                    .modal-title-icon{
                        font-size:30px;
                        @media(max-width:$breakpoint992){
                            font-size:24px;
                        }
                        @media(max-width:$breakpoint768){
                            font-size:20px;
                        }
                        &:before{
                            color:#fff;
                        }
                    }
                    .modal-title{
                        font-weight: 500;
                        font-size: 30px;
                        color:#fff;
                        @media(max-width:$breakpoint992){
                            font-size:24px;
                        }
                        @media(max-width:$breakpoint768){
                            font-size:20px;
                        }
                    }
                }
                .modal-close{
                    padding-left: 10px;
                    cursor:pointer;
                    .modal-icon-close{
                        font-size:30px;
                        @media(max-width:$breakpoint992){
                            font-size:24px;
                        }
                        @media(max-width:$breakpoint768){
                            font-size:20px;
                        }
                    }
                }
            }
            .modal-body{
                background: #fff;
                min-height:80px;
                width:100%;
                border-radius: 0px 0px 15px 15px;
                padding:40px 50px;
                @media(max-width:$breakpoint992){
                    min-height:60px;
                    padding:30px 15px;
                }
            }

        }
    }
}

//cart-modal

#cartmodal{

        .cart-active-wrapper{
            display:none;
            flex-direction: column;
            gap:20px;
            .cart-products-body{
                width:100%;
                display: flex;
                flex-direction: column;
                gap: 40px;
                .cart-product-item{
                    display:flex;
                    gap:60px;
                    position: relative;
                    .cart-product-image{
                        width: 180px;
                        height: 180px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            height: 100%;
                            width: 100%;
                            img{
                                object-fit: cover;
                                width: 100%;
                                max-height: 100%;
                            }
                        }
                        @media(max-width:$breakpoint1200){
                            width: 160px;
                            height: 160px;
                        }
                        @media(max-width:$breakpoint768){
                            width:120px;
                            height:120px;
                        }
                    }
                    .cart-product-details{
                        display:flex;
                        flex-direction: column;
                        gap:30px;
                        width:100%;
                        .cart-product-title{
                            font-weight: 500;
                            font-size: 25px;
                            color:$mainColor;
                            transition: all 0.3s;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            width: fit-content;
                            &:hover{
                                color:$greenColor;
                            }
                            @media(max-width:$breakpoint1200){
                                font-size:24px;
                            }
                            @media(max-width:$breakpoint768){
                                font-size:18px;
                                -webkit-line-clamp: 4;
                                padding-right:30px;
                                word-break: break-word;
                            }
                            @media(max-width:$breakpoint400){
                                -webkit-line-clamp: 5; 
                            }
                        }
                        .cart-product-info{
                            display:flex;
                            min-height:110px;
                            .cart-product-info-label{
                                font-weight: 500;
                                font-size: 20px;
                                color:$mainColor;
                                @media(max-width:$breakpoint1200){
                                    font-size:18px;
                                }
                                @media(max-width:$breakpoint768){
                                    font-size:16px;
                                }
                            }
                            .cart-product-info-length{
                                display:flex;
                                flex-direction: column;
                                margin-right:90px;
                                width:30%;
                                .cart-product-quantity{
                                    margin:auto;
                                    @media(max-width:$breakpoint992){
                                        .product-quantity-minus{
                                            width: 44px;
                                            height: 50px;
                                        }
                                        .product-quantity-value{
                                            width: 54px;
                                            height: 50px;
                                        }
                                        .product-quantity-plus{
                                            width: 44px;
                                            height: 50px;
                                        }
                                    }
                                    @media(max-width:$breakpoint768){
                                        .product-quantity-minus{
                                            width: 34px;
                                            height: 40px;
                                        }
                                        .product-quantity-value{
                                            width: 44px;
                                            height: 40px;
                                        }
                                        .product-quantity-plus{
                                            width: 34px;
                                            height: 40px;
                                        }
                                    }
                                    @media(max-width:$breakpoint992){
                                        margin:auto 0px;
                                    }
                                }
                                @media(max-width:$breakpoint992){
                                    margin-right:40px;
                                    align-items: flex-start;
                                }
                                @media(max-width:$breakpoint768){
                                    width:auto;
                                    margin-right:0px;
                                }
                                @media(max-width:$breakpoint400){
                                    gap:5px;
                                }
                            }
                            .cart-product-info-price{
                                display:flex;
                                flex-direction: column;
                                width:30%;
                                position: relative;
                                padding-right: 13%;
                                align-items: center;
                                .cart-product-info-price-value{
                                    font-weight: 500;
                                    font-size: 20px;
                                    color:$mainColor;
                                    margin: auto 0px;
                                    text-align: center;
                                    @media(max-width:$breakpoint1200){
                                        font-size:18px;
                                    }
                                    @media(max-width:$breakpoint768){
                                        font-size:16px;
                                        text-align: start;
                                    }
                                }
                                &:after{
                                    background: linear-gradient(to top, #FFF, #d6d6d6, #FFF);
                                    height: 130px;
                                    width: 1px;
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    left: -20%;
                                    @media(max-width:$breakpoint992){
                                        left: -10%;
                                    }
                                }
                                @media(max-width:$breakpoint1200){
                                    padding-right: 11%;
                                }
                                @media(max-width:$breakpoint992){
                                    padding-right: 8%;
                                }
                                @media(max-width:$breakpoint768){
                                    width:auto;
                                    padding: 0px 0px 0px 15px;
                                    align-items: flex-start;
                                    &::after{
                                        left: 0;
                                        right: auto;
                                        height:100px;
                                    }
                                }
                                @media(max-width:$breakpoint400){
                                    align-items: flex-start;
                                    width:auto;
                                    padding:0px;
                                    gap:5px;
                                    &:after{
                                        background: linear-gradient(to right, #d6d6d6, #FFF);
                                        width: 100%;
                                        height:1px;
                                        bottom:auto;
                                        left:0;
                                        top:-10px;
                                    }
                                }
                            }
                            .cart-product-info-total{
                                display:flex;
                                flex-direction: column;
                                width:30%;
                                position: relative;
                                padding-right: 5%;
                                align-items: center;
                                .cart-product-info-total-value{
                                    font-weight: 700;
                                    font-size: 32px;
                                    color:$mainColor;
                                    margin: auto 0px;
                                    text-align: center;
                                    @media(max-width:$breakpoint1200){
                                        font-size:24px;
                                    }
                                }
                                &:after{
                                    background: linear-gradient(to top, #FFF, #d6d6d6, #FFF);
                                    height: 130px;
                                    width: 1px;
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    left: -20%;
                                    @media(max-width:$breakpoint1200){
                                        left: -15%;
                                    }
                                    @media(max-width:$breakpoint992){
                                        left: -10%;
                                    }
                                }
                                @media(max-width:$breakpoint1200){
                                    padding-right: 3%;
                                }
                                @media(max-width:$breakpoint768){
                                    display:none;
                                }
                            }
                            .cart-product-info-delete{
                                margin-left: auto;
                                margin-top: auto;
                                margin-bottom: auto;
                                width:10%;
                                display: flex;
                                justify-content: flex-end;
                                position: relative;
                                .product-delete-icon{
                                    font-size:21px;
                                    &:before{
                                        color:$mainColor;
                                        transition: all 0.3s;
                                    }
                                    @media(max-width:$breakpoint1200){
                                        font-size:20px;
                                    }
                                    @media(max-width:$breakpoint768){
                                        font-size:18px;
                                    }
                                }
                                &:after{
                                    background: linear-gradient(to top, #FFF, #d6d6d6, #FFF);
                                    height: 130px;
                                    width: 1px;
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    left: -5%;
                                    @media(max-width:$breakpoint1200){
                                        left: -5%;
                                    }
                                }
                                &:hover{
                                    .product-delete-icon{
                                        &:before{
                                            color:$greenColor;
                                        }
                                    }
                                }
                                @media(max-width:$breakpoint768){
                                    position: absolute;
                                    top:0;
                                    right:0;
                                    width: fit-content;
                                    &:after{
                                        display:none;
                                    }
                                }
                            }
                            @media(max-width:$breakpoint768){
                                min-height:80px;
                            }
                            @media(max-width:$breakpoint768){
                                gap:15px;
                            }
                            @media(max-width:$breakpoint400){
                                flex-direction: column;
                                gap:20px;
                            }
                        }
                    }
                    @media(max-width:$breakpoint1200){
                        gap:20px;
                    }
                    &:not(:last-child):after{
                        content: "";
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        background: linear-gradient(to right, rgb(255, 255, 255), rgb(214, 214, 214), rgb(255, 255, 255));
                        bottom: -20px;
                        left: 0;
                        z-index:10;
                    }
                    @media(max-width:$breakpoint768){
                        gap:10px;
                    }
                    @media(max-width:$breakpoint400){
                        gap:5px;
                    }
                }
            }
            .cart-order-details{
                display:flex;
                justify-content: space-between;
                .cart-one-click-order{
                    display:flex;
                    flex-direction: column;
                    .one-click-order-title{
                        font-weight: 500;
                        font-size: 25px;
                        color:$mainColor;
                        margin-bottom:40px;
                        @media(max-width:$breakpoint1200){
                            font-size:24px;
                        }
                        @media(max-width:$breakpoint768){
                            margin-bottom:10px;
                            font-size:20px;
                        }
                    }
                    .one-click-order-number{
                        height:74px;
                        width:382px;
                        &::placeholder{
                            text-align: center;
                        }
                        @media(max-width:$breakpoint768){
                            width:382px;
                        }
                    }
                    .one-click-order-button{
                        margin-top:15px;
                        width:382px;
                        height:74px;
                        @media(max-width:$breakpoint768){
                            margin-top:0px;
                        }
                    }
                    @media(max-width:$breakpoint992){
                        width:45%;
                    }
                    @media(max-width:$breakpoint768){
                        width:100%;
                        gap:20px;
                    }
                }
                .cart-order-info{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .order-info-title{
                        font-weight: 500;
                        font-size: 25px;
                        color:$mainColor;
                        @media(max-width:$breakpoint1200){
                            font-size:24px;
                        }
                        @media(max-width:$breakpoint768){
                            margin-bottom:10px;
                            font-size:20px;
                        }
                    }
                    .order-info-price{
                        display:flex;
                        gap:20px;
                        align-items: flex-end;
                        position:relative;
                        .price-total{
                            font-weight: 700;
                            font-size:32px;
                            @media(max-width:$breakpoint768){
                                font-size:26px;
                            }
                        }
                        .price-sale{
                            font-weight: 500;
                            font-size: 20px;
                            color: #939393;
                            position: relative;
                            &::before{
                                content:'';
                                width: 100%;
                                position: absolute;
                                height: 1px;
                                background: $greenColor;
                                transform: rotate(-8deg);
                                top: 8px;
                            }
                            @media(max-width:$breakpoint768){
                                font-size:16px;
                            }
                        }
                        @media(max-width:$breakpoint768){
                            flex-wrap: wrap;
                        }
                    }
                    .order-button{
                        width:382px;
                        height:74px;
                    }
                    @media(max-width:$breakpoint992){
                        width:45%;
                    }
                    @media(max-width:$breakpoint768){
                        width:100%;
                        gap:20px;
                    }
                }
                @media(max-width:$breakpoint768){
                    flex-direction: column-reverse;
                    gap: 30px;
                }
            }
            .hr-classic{
                margin-bottom:20px;
                @media(max-width:$breakpoint768){
                    margin-bottom:0px;
                }
            }
            .cart-back-link{
                font-weight: 500;
                font-size: 20px;
                color:$mainColor;
                transition: 0.3s;
                margin-left: auto;
                cursor: pointer;
                span{
                    text-decoration: underline;
                }
                .back-link-icon{
                    font-size:20px;
                    margin-right:10px;
                    position: relative;
                    top:4px;
                    &:before{
                        transition: 0.3s;
                        color:$mainColor;
                    }
                }
                &:hover{
                    color:$greenColor;
                    .back-link-icon{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
                @media(max-width:$breakpoint768){
                    font-size:16px;
                    .back-link-icon{
                        font-size:16px;
                        margin-right:5px;
                        top:2px;
                    }
                }
            }
        }

        .cart-noactive-wrapper{
            display:flex;
            flex-direction: column;
            gap:30px;
            max-width:480px;
            width:100%;
            margin:auto;
            .noactive-title{
                font-weight: 600;
                font-size: 25px;
                color:$mainColor;
                text-align: center;
            }
            .noactive-text{
                font-size: 18px;
                font-weight: 500;
                text-align: center;
            }
            .noactive-modal-cart-button{
                cursor: pointer;
                width:100%;
                height:70px;
            }
        }

    &.cart-modal-active{
        .cart-noactive-wrapper{
            display:none;
        }
        .cart-active-wrapper{
            display:flex;
        }
    }

}

//cabinet-modal

#cabinetmodal{

    .login-modal-body{
        display:flex;
        justify-content: center;
    }

    .login-modal-wrapper{
        display:flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        .login-form{
            display:flex;
            flex-direction: column;
            gap:20px;
        }
        .login-small-link{
            font-weight: 500;
            font-size: 15px;
            color:$greenColor;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
        .login-modal-form{
            display:flex;
            flex-direction: column;
            gap:20px;
            .login-modal-mail{
                width:480px;
                height:74px;
            }
            .password-form-group{
                position: relative;
                .login-modal-password{
                    width:480px;
                    height:74px;
                }
                .hide-password{
                    height:74px;
                    width:auto;
                    padding-right:15px;
                    position: absolute;
                    right:0;
                    top:0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .hide-password-icon{
                        font-size:20px;
                        &:before{
                            color:#939393;
                        }
                    }
                }
            }
            .login-small-link{
                margin-top:-10px;
            }
        }
        .login-submit-button{
            width:480px;
            height:74px;
        }
        .login-modal-registration{
            display:flex;
            gap:5px;
            justify-content: center;
            flex-wrap: wrap;
            margin-top:10px;
            .registration-title{
                font-weight: 500;
                font-size: 15px;
                color: #939393;  
            }
            .registration-link{

            }
        }
        .login-variable-title{
            font-weight: 500;
            font-size: 25px;
            color: #939393;
            margin:40px 0px;
            text-align: center;  
            @media(max-width:$breakpoint768){
                margin:20px 0px;
                font-size:20px;
            }   
        }
        .login-google-button{
            width:480px;
            height:74px;
            .google-logo-img{
                height:38px;
                width:38px;
            }
        }
    }

}

#callmodal{
    .call-modal-body{

        display:flex;
        justify-content: center;

        .call-modal-wrapper{
            display:flex;
            flex-direction: column;
            width: fit-content;
            max-width: 100%;
            gap:20px;
            .call-title{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #939393;
                width:480px;
                max-width:100%;
                text-align: center;
                @media(max-width:$breakpoint768){
                    font-size:18px;
                }
            }
            .call-form{
                display:flex;
                flex-direction: column;
                gap:20px;
                .call-modal-form{
                    display:flex;
                    flex-direction: column;
                    gap:20px;
                    .call-modal-name{
                        width:480px;
                        height:74px;
                    }
                    .call-modal-phone{
                        width:480px;
                        height:74px;
                    }
                }
                .call-submit-button{
                    width:480px;
                    height:74px;
                }
            }
        }

    }
}


//quantity input

.product-quantity{
    display:flex;
    align-items: center;
    border:1px solid #939393;
    border-radius: 3px;
    width: fit-content;
    .product-quantity-plus{
        color:$greenColor;
        font-size:18px;
        font-weight: 600;
        width:63px;
        height:54px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-left:1px solid #939393;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        &:hover{
            background: #E7E7E7;
        }
    }
    .product-quantity-value{
        color:$greenColor;
        font-size:18px;
        font-weight: 600;
        width:60px;
        height:54px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .product-quantity-minus{
        color:$greenColor;
        font-size:18px;
        font-weight: 600;
        width:63px;
        height:54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right:1px solid #939393;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        &:hover{
            background: #E7E7E7;
        }
    }
}

//inputs

span.invalid-input{
    position: absolute;
    right: 15px;
    bottom: 70px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    z-index: 25;
    box-shadow: 0px 4px 20px rgba(0,0,0,.09);
    &::after{
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        content: '';
        position: absolute;
        right: 20px;
        bottom: -10px;
    }
}

.input-wrapper{
    position: relative;

}

.form-control{
    border: 1px solid #939393;
    border-radius: 5px;
    font-size:20px;
    font-weight: 500;
    color: #161616;
    padding:15px;
    transition: all 0.3s;
    max-width:100%;
    &::placeholder{
        color: #161616;
    }
    &:focus{
        border: 1px solid $greenColor;
        &::placeholder{
            opacity:0;
        }
    }
    @media(max-width:$breakpoint768){
        font-size:18px;
    }
    @media(max-width:$breakpoint400){
        font-size:16px;
    }
    &.invalid-input{
        border: 1px solid #E22E2E;
    }
}





