//fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

//vars

$mainColor: #161616;
$greenColor: #00BA67;

$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint400: 399.98 + px;

//page settings

html,
body{
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:17px;
    line-height:1;
    color:$mainColor;
    min-height: 100vh;
}

body{
    background: #F9F9F9;
}

a,button{
    transition: background 0.3s, color 0.3s;
}

//container settings

.container{
    max-width:1808px;
    width:100%;
    padding:0px 15px;
    margin:0px auto;
}

//other

.wrapper{
    min-height:100%;
    display:flex;
    flex-direction: column;
}

.main{
    flex:1 1 auto;
}

///search input header/footer

.search-body{
    display:flex;
    .search-body-wrapper{
        position:relative;
        width: 100%;
        .search-body-icon{
            position: absolute;
            font-size: 24px;
            top: 15px;
            left: 15px;
        }
        .search-body-input{
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            max-width: 536px;
            width: 100%;
            height:52px;
            display:flex;
            align-items: center;
            padding-left:50px;
            font-size: 20px;
            color:#fff;
            transition: 0.3s;
            &::placeholder{
                color:#fff;
                opacity:0.7;
            }
            &:focus{
                border: 1px solid $greenColor;
            }
        }
    }
    .search-body-button{
        background:#06D679;
        height:52px;
        font-size: 20px;
        color:#fff;
        padding:0px 45px;
        border-radius: 0px 5px 5px 0px;
        position:relative;
        right:5px;
        &:hover{
            background: $greenColor;
        }
    }
}

hr{
    background: $mainColor;
    height:1px;
    width:100%;
}

.hr-classic{
    background: linear-gradient(to right, #FFF, #939393, #FFF);
    height: 1px;
    width:100%;
}

.button{
    background: linear-gradient(96.83deg, #01BD69 1.48%, #07DE7E 73.66%);
    color:#fff;
    font-weight: 600;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0px 10px 50px rgba(8, 223, 127, 0.65);
    }
}






