.header{
    display:flex;
    flex-direction: column;
}

.header-top{
    background: linear-gradient(90deg, #00BA67 -0.68%, #07DF7F 100%);
    padding:5px 0px;
    .header-top-body{
        display:flex;
        flex-wrap: wrap;
        gap:30px;
        justify-content: center;
        align-items: center;
        .header-top-body-slogan{
            font-size:15px;
            color:#fff;
        }
        .header-top-body-slogan-strong{
            font-size:15px;
            color:#fff;
            font-weight: 900;
        }
        .header-top-body-button{
            font-size:8px;
            text-transform: uppercase;
            color:#3E3E3E;
            font-weight:600;
            background:#fff;
            padding:10px 35px;
            border-radius: 3px;
            margin-left:50px;
            &:hover{
                background:#f7f7f7;
            }
        }
    }
}

.header-body{
    background:#1F1F1F;
    padding:10px 0px;
    .header-body-content{
        display:flex;
        gap:100px;
        align-items: center;
        .header-logo{
            img{
                max-height:56px;
            }
        }
        .header-body-menu{
            .header-body-menu-content{
                display:flex;
                gap:50px;
                .header-body-menu-item a{
                    font-size:20px;
                    color:#fff;
                    font-weight:400;
                }
            }
        }
        .header-body-call{
            display:flex;
            flex-direction: column;
            gap:8px;
            .header-body-call-number{
                font-weight: 400;
                font-size: 25px;
                color:#fff;
            }
            .header-body-call-back{
                font-weight: 400;
                font-size: 15px;
                color:$greenColor;
                text-decoration: underline;
            }
        }
        .header-body-interactive{
            display:flex;
            align-items: center;
            gap:26px;
            .header-login-panel-link{
                max-width:173px;
                font-weight: 400;
                font-size: 15px;
                color:#fff;
                line-height:1.4;
            }
            .header-language-panel{
                display:flex;
                gap:8px;
                align-items: center;
                .language-icon{
                    width:32px;
                    height:32px;
                }
                .language-title{
                    font-weight: 400;
                    font-size: 25px;
                    color:#fff;
                }
            }
        }
    }
}

