.header{
    display:flex;
    flex-direction: column;
    background:#1F1F1F;
    z-index:40;
    transition: transform 0.3s;
    max-height:113px;
    &.sticky-header.sticky{
        @media(min-width:$breakpoint768){
            position: sticky;
            top: -113px;
            width:100%;
            left:0;
            transform: translate3d(0, 0px, 0);
            margin-bottom: 78px;
        }
    }
    @media(max-width:$breakpoint768){
        padding-top: 75px;
        margin-bottom: 50px;
    }
}

.header-top{
    background: linear-gradient(90deg, #00BA67 -0.68%, #07DF7F 100%);
    min-height:38px;
    height:auto;
    display: flex;
    align-items: center;
    .header-top-body{
        display:flex;
        flex-wrap: wrap;
        gap:30px;
        justify-content: center;
        align-items: center;
        .header-top-body-slogan{
            font-size:15px;
            color:#fff;
        }
        .header-top-body-slogan-strong{
            font-size:15px;
            color:#fff;
            font-weight: 900;
        }
        .header-top-body-button{
            font-size:8px;
            text-transform: uppercase;
            color:#3E3E3E;
            font-weight:600;
            background:#fff;
            padding:10px 35px;
            border-radius: 3px;
            margin-left:50px;
            &:hover{
                background:#f7f7f7;
            }
        }
    }
    @media(min-width:$breakpoint768){
        height:38px;
    }
    @media(max-width:$breakpoint768){
        display:none;
    }
}

.header-body{
    background:#1F1F1F;
    min-height:75px;
    height:auto;
    display: flex;
    align-items: center;
    .header-body-content{
        display:flex;
        align-items: center;
        .header-open-burger{
            margin-right:auto;
            @media(min-width:$breakpoint1200){
                display:none;
            }
            .icon-burger{
                font-size:29px;
                &:before{
                    transition: all 0.3s;
                }
            }
            &:hover{
                .icon-burger{
                    &:before{
                        color:$greenColor;
                    }
                }
            }
        }
        .header-logo{
            height:56px;
            flex-shrink: 0;
            img{
                max-height:56px;
            }
            @media(max-width:$breakpoint1200){
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;
                width: fit-content;
            }
            @media(max-width:$breakpoint768){
                height:auto;
                img{
                    max-height:40px;
                }
            }
        }
        .header-body-menu{
            margin: 0px auto 0px 112px;
            .header-body-menu-content{
                display:flex;
                gap: 10px 50px;
                 flex-wrap: wrap;
                .header-body-menu-item a{
                    font-size:20px;
                    color:#fff;
                    font-weight:400;
                    &:hover{
                        color:$greenColor;
                    }
                }
            }
            @media(max-width:$breakpoint1200){
                display:none;
            }
        }
        .hide-search{
            .icon-search-over{
                font-size:29px;
                &::before{
                    transition: all 0.3s;
                }
            }
            @media(min-width:$breakpoint1200){
                display:none;
            }
            @media(max-width:$breakpoint768){
                display:none;
            }
            &:hover{
                .icon-search-over{
                    &::before{
                        color:$greenColor;
                    }
                }
            }
        }
        .header-body-call{
            display:flex;
            flex-shrink: 0;
            flex-direction: column;
            gap:8px;
            margin: 0px 26px 0px 26px;
            .header-body-call-number{
                font-weight: 400;
                font-size: 25px;
                color:#fff;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    color:$greenColor;
                }
            }
            .header-body-call-back{
                font-weight: 400;
                font-size: 15px;
                color:$greenColor;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            .call-hide{
                @media(max-width:$breakpoint1400){
                    display:none;
                }
            }
            .header-body-call-icon{
                cursor:pointer;
                font-size:29px;
                    &:before{
                        color:#fff;
                        transition: 0.3s;
                    }
                @media(min-width:$breakpoint1400){
                    display:none;
                }    
            }
            &:hover{
                .header-body-call-icon{
                        &:before{
                            color:$greenColor;
                        }  
                } 
            }
            @media(max-width:$breakpoint1200){
                margin: 0px 26px 0px 26px;
            }
            @media(max-width:$breakpoint768){
                display:none;
            }
        }
        .header-body-interactive{
            display:flex;
            flex-shrink: 0;
            align-items: center;
            gap:26px;
            margin-left:auto;
            .header-login-panel-link{
                max-width:173px;
                font-weight: 400;
                font-size: 15px;
                color:#fff;
                line-height:1.4;
                &:hover{
                    color:$greenColor;
                }
            }
            .header-language-panel{
                display:flex;
                gap:8px;
                align-items: center;
                cursor: pointer;
                .language-icon{
                    width:32px;
                    height:32px;
                }
                .language-title{
                    font-weight: 400;
                    font-size: 29px;
                    color:#fff;
                    transition: 0.3s;
                }
                &:hover{
                    .language-title{
                        color:$greenColor;
                    }
                }
                .language-hide-icon{
                    @media(max-width:$breakpoint1400){
                        display:none;
                    }
                }
            }
            .login-hide-link{
                @media(max-width:$breakpoint1400){
                    display:none;
                }
            }
            .header-login-panel-link-icon{
                @media(min-width:$breakpoint1400){
                    display:none;
                }   
                .icon-person-over{
                    font-size:29px;
                    &:before{
                        color:#fff;
                        transition: 0.3s all;
                    }
                }
                &:hover{
                    .icon-person-over{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
            }
            @media(max-width:$breakpoint1400){
                margin-left: 0px;
            }
            @media(max-width:$breakpoint768){
                display:none;
            }
        }
        @media(max-width:$breakpoint1200){
            justify-content: flex-end;
        }
    }
    &.sticky-header-smartphone{
        @media(max-width:$breakpoint768){
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 35;
            height:75px;
        }
    }
    @media(min-width:$breakpoint768){
        height:75px;
    }
}

.header-bottom{
    min-height:78px;
    background: #262626;
    height:auto;
    display: flex;
    align-items: center;
    z-index:30;
    .header-bottom-body{
        display:flex;
        align-items: center;
        position: relative;
        height:100%;

        .header-catalog{
            width:400px;
            gap:18px;
            display:flex;
            flex-shrink: 0;
            height:100%;
            align-items: center;
            background: #262626;
            z-index:35;
            cursor: pointer;
            .header-catalog-icon{
                font-size:24px;
                transition: 0.3s;
                &:before{
                    transition:0.3s;
                }
            }
            .header-catalog-title{
                font-size: 25px;
                color:#fff;
            }      
            @media(max-width:$breakpoint1200){
                width:fit-content;
            }
                &.catalog-open{
                    .header-catalog-icon{
                        transform: translateX(-5px);
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
                &.catalog-close{
                    transform: translateX(0px);
                    .header-catalog-icon{
                        &:before{
                            color:#fff;
                        }
                    }
                }
                &:hover{
                    .header-catalog-icon{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
        }

        .header-bottom-search{
            width: 100%;
            max-width: 700px;
            margin-left:10px;
            @media(max-width:$breakpoint1200){
                display:none;
            }
            .search-body-button{
                @media(max-width:$breakpoint1400){
                    padding:0px 25px;
                }
            }
        }

        .header-bottom-interactive{
            display:flex;
            margin-left: auto;
            gap:57px;
            flex-shrink: 0;
            padding-left: 26px;
            .icon-compare,.icon-favorites{
                font-size:29px;
                transition: 0.3s;
                &:before{
                    transition:0.3s;
                }
            }
            .header-compare,.header-favorites{
                &:hover{
                    .icon-compare,.icon-favorites{
                        &:before{
                            color:$greenColor;
                        }
                    }
                }
            }
            @media(max-width:$breakpoint1200){
                gap:26px;
            }
            .header-compare,.header-favorites{
                @media(max-width:$breakpoint768){
                    display:none;
                }
            }
        }

    }

    //catalog header
    .catalog-header{
        position: absolute;
        top: 78px;
        left:0;

        &.catalog-close{
            display:none;
        }

        @media(max-width:$breakpoint1200){
            display:none;
        }

        .catalog-open-background{
            position: fixed;
            width: 100%;
            height: calc(100vh + 113px);
            background: #1f1f1f;
            z-index: 30;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s;
            &.background-open{
                opacity:0.2;
            }
        }

        .catalog-wrapper{

            .catalog-menu{
                max-height: calc(78vh - 72px);
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: $greenColor white;
                direction: rtl;

                .catalog-menu-body{
                    direction: ltr;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: $greenColor;
                    border-radius: 20px;
                    border: 2px solid transparent;
                }


                .submenu-item-active{
                        background: rgba(226, 226, 226, 0.44);
                        .catalog-menu-body-link{
                            color:$greenColor;
                            &::before{
                                right:24px;
                                color:$greenColor;
                            }
                        }
                        .catalog-menu-sub-wrapper{
                            display:flex;
                        }
                }


            }

            .sub-menu-body{
                max-height: calc(78vh - 72px);
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: $greenColor  white;

                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: $greenColor;
                    border-radius: 20px;
                    border: 2px solid transparent;
                }
            }

            .catalog-menu-sub-wrapper{
                min-height: 100%;
                height:auto;
            }
        }

    }

    @media(min-width:$breakpoint768){
        height:78px;
    }

}

.header-cart{
    display:flex;
    gap:6px;
    cursor: pointer;
    .header-cart-icon{
        font-size:29px;
        transition: 0.3s;
        &:before{
            transition:0.3s;
        }
    }
    .cart-interactive{
        display:flex;
        flex-direction: column;
        gap:2px;
        .cart-interactive-title{
            font-size:11px;
            color:#fff;
        }
        .cart-interactive-numbers{
            font-size: 8px;
            color:#fff;
            padding: 3px 6px;
            border: 1px solid $greenColor;
            border-radius: 60px;
        }
    }
    &:hover{
        .header-cart-icon{
            &:before{
                color:$greenColor;
            }
        }

    }
    &.small-cart{
        .cart-interactive{
            .cart-interactive-title{
                display:none;
            }
            .cart-interactive-numbers{
                display:none;
            }
        }
    }
}

.burger{
    display:none;
    position: fixed;
    width: 400px;
    max-width: 100%;
    height: calc(100vh + 113px);
    z-index: 35;
    top: 0;
    @media(max-width:$breakpoint768){
        height:100%;
    }

    &.burger-open{
        display:block;
    }

    .burger-open-background{
        position: fixed;
        width: 100%;
        height: calc(100vh + 113px);
        background: #1f1f1f;
        z-index: 15;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        &.burger-open-background-open{
            opacity:0.2;
        }
    }

    .burger-wrapper{
        height:100%;
        width:100%;
        overflow-x: auto;
        background: #fff;
        transition: 0.3s;
        transform: translateX(-100%);
        z-index: 25;
        position: relative;
        &.burger-wrapper-open{
            transform: translateX(0px);
        }
    }
}



