<div class="catalog catalog-home catalog-open">
    <div class="catalog-body container">
        <div class="catalog-and-question">
            @@include('catalog.html')
            <div class="question-block"></div>
        </div>
        <div class="info-categories-sliders">
            <div class="info-slider-wrapper-test"></div>
            <div class="categories-wrapper-test">
                <div class="caetgorie-item"></div>
                <div class="caetgorie-item"></div>
                <div class="caetgorie-item"></div>
                <div class="caetgorie-item"></div>
            </div>
        </div>
    </div>
</div>