<header class="header sticky-header sticky">
    <div class="header-top">
        <div class="header-top-body container">
            <span class="header-top-body-slogan">Шалені акції обирай своє!</span>
            <strong class="header-top-body-slogan-strong">Тільки 4 дні</strong>
            <a class="header-top-body-button" href="#">до покупок</a>
        </div>
    </div>
    <div class="header-body sticky-header-smartphone">
        <div class="header-body-content container">
            <a class="header-open-burger" href="#"><i class="icon-burger"></i></a>
            <a class="header-logo" href="#"><img src="/images/logo.svg" alt="logo"></a>
            <nav class="header-body-menu">
                <ul class="header-body-menu-content">
                    <li class="header-body-menu-item"><a href="#">Головна</a></li>
                    <li class="header-body-menu-item"><a href="#">Акції</a></li>
                    <li class="header-body-menu-item"><a href="#">Про нас</a></li>
                    <li class="header-body-menu-item"><a href="#">Контакти</a></li>
                    <li class="header-body-menu-item"><a href="#">Доставка та оплата</a></li>
                </ul>
            </nav>
            <div class="hide-search hide-on-scroll" href="#">
                <!-- add search form to icon -->
                <i class="icon-search-over"></i>
                <div class="hide-search-wrapper search-body">
                    <div class="search-body-wrapper">
                        <input class="search-body-input" type="text" name="search" placeholder="Я шукаю...">
                    </div>
                </div>
            </div>
            <div class="header-body-call">
                <i class="header-body-call-icon icon-call-over open-call-tab"></i>
                <span class="header-body-call-number open-call-tab call-hide">+38 (050) 321 76 87</span>
                <a class="header-body-call-back call-hide" href="#">Зворотний дзвінок</a>
                <div class="infowindow call-infowindow hide-on-scroll">
                    <div class="infowindow-wrapper">
                        <ul class="call-infowindow-list">
                            <li class="call-infowindow-item"><a class="call-infowindow-link" href="tel:0507522106"><i class="icon-call-over"></i>+38-(050)-752-21-06</a></li>
                            <li class="call-infowindow-item"><a class="call-infowindow-link" href="viber://pa?chatURI=0507522106"><i class="icon-viber"></i>Viber</a></li>
                            <li class="call-infowindow-item"><a class="call-infowindow-link" href="https://t.me/eustore"><i class="icon-telegram"></i>Telegram</a></li>
                            <li class="call-infowindow-item"><a class="call-infowindow-link" href="mailto:infoeustore@gmail.com"><i class="icon-mail"></i>infoeustore@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-body-interactive">
                <a class="header-login-panel-link-icon open-cabinet-dialog" href=""><i class="icon-person-over"></i></a>
                <a class="header-login-panel-link open-cabinet-dialog login-hide-link" href="">Увійти до особистого кабінету</a>
                <div class="header-language-panel">
                    <img class="language-icon ua language-hide-icon open-language-tab" src="/images/icons/ua.svg">
                    <span class="language-title open-language-tab">UA</span>
                    <div class="infowindow language-infowindow hide-on-scroll"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-body container">
            <div class="header-catalog catalog-close">
                <i class="header-catalog-icon icon-menu"></i>
                <span class="header-catalog-title">Каталог товарів</span>
            </div>
            <div class="header-bottom-search search-body">
                <div class="search-body-wrapper">
                    <i class="icon-search search-body-icon"></i>
                    <input class="search-body-input" type="text" name="search" placeholder="Я шукаю...">
                </div>
                <button class="search-body-button">Знайти</button>
            </div>
            <div class="header-bottom-interactive">
                <!-- .compare-active if there is an item -->
                <a href="#" class="header-compare compare-active">
                    <i class="icon-compare"></i>
                    <span class="item-number">2</span>
                </a>
                <!-- .favorites-active if there is an item -->
                <a href="#" class="header-favorites favorites-active">
                    <i class="icon-favorites"></i>
                    <span class="item-number">2</span>
                </a>
                <div class="header-cart header-cart-active open-cart-tab">
                    <!-- .header-cart-active if there is an item in the cart -->
                    <i class="icon-cart header-cart-icon"></i>
                    <div class="cart-interactive">
                        <span class="cart-interactive-title">Кошик</span>
                        <span class="cart-interactive-numbers">
                            <!-- display none if cart active -->
                            <span class="cart-interactive-text">Обрати товари</span>
                            <!-- /////////////////////////// -->
                            <span class="cart-interactive-text-active">
                                <span id="cart-item-number">23</span>
                                <span id="cart-item-title">товари</span>
                            </span>
                        </span>
                    </div>
                    <div class="infowindow cart-infowindow hide-on-scroll"></div>
                </div>
            </div>
            <div class="catalog catalog-header catalog-close">
                <div class="catalog-body container">
                        <div class="catalog-open-background"></div>
                        @@include('catalog.html')
                </div>
            </div>
        </div>
    </div>
</header>

